.social-networks {
    display: flex;
    justify-content: left;
}
.social-networks a {
    margin: 0 10px;
}
.social-networks img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}
.social-networks a:hover img {
    transform: scale(1.2);
}
.my-phone {
    display: flex;
    justify-content: left;
}
.my-phone a {
    margin: 0 10px;
}
.my-phone img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}
.my-phone a:hover img {
    transform: scale(1.2);
}
body {
    background-color: aquamarine;
}
html {
    scroll-behavior: smooth;
}
